* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}

<<<<<<< Updated upstream
body {
  margin: 0;
=======
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Desktop - 1 */

.Desktop1 {
  height: 1024px;
width: 1440px;
left: -777px;
top: -588px;
border-radius: 0px;

}
.Desktop {
position: relative;
width: 1440px;
height: 1024px;

background: #ffffff;
}

.Ellipse2 {
position: relative;
width: 488px;
height: 505px;
left: 876px;
top: 297px;

background: #C4C4C4;
}

.Description {
position: absolute;
width: 720px;
height: 152px;
left: 104px;
top: 344px;

font-family: fantasy Sans;
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 75px;

color: #000000;
}

.Description2 {
position: absolute;
width: 728px;
height: 88px;
left: 104px;
top: 505px;

font-family: fantasy Sans;
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 33px;

color: #000000;
}

.Frame6 {
/* Frame 6 */


/* Auto Layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 700px;
height: 96px;
left: 114px;
top: 648px;
}

.Group3 {
  /* Group 3 */


position: static;
width: 304px;
height: 96px;
left: 396px;
top: 0px;


/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 100px;
}

.Group5 {
  /* Group 5 */

position: absolute;
width: 304px;
height: 96px;
left: 396px;
top: 0px;
}

.rect1 {
  /* Rectangle 1 */


position: absolute;
width: 304px;
height: 96px;
left: 396px;
top: 0px;

background: #C4C4C4;
border-radius: 10px;
}

.rect2 {
position: absolute;
width: 296px;
height: 96px;
left: 0px;
top: 0px;

background: #C4C4C4;
border-radius: 10px;
}

.JoinDiscord {
  /* Join Discord */


position: absolute;
width: 242.38px;
height: 40px;
left: 426.81px;
top: 28px;

font-family: fantasy Sans;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
text-align: center;

color: #000000;

}



.Group2 {
/* Group 2 */


position: static;
width: 296px;
height: 96px;
left: 0px;
top: 0px;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 100px;
}

.Group4 {
  /* Group 4 */


position: absolute;
width: 296px;
height: 96px;
left: 0px;
top: 0px;
}

.InviteBot {
/* Invite Bot */


position: absolute;
width: 208px;
height: 40px;
left: 44px;
top: 28px;

font-family: fantasy Sans;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
text-align: center;

color: #000000;
}

.Frame2 {
/* Auto Layout */

display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;

position: absolute;
width: 1272px;
height: 72px;
left: 88px;
top: 32px;
}

.Frame1 {
/* Auto Layout */

display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;

position: static;
width: 442px;
height: 42px;
left: 830px;
top: 15px;


/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 392px;

}

.Login {
position: static;
width: 95px;
height: 42px;
left: 347px;
top: 0px;

font-family: fantasy Sans;
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 42px;

flex: none;
order: 2;
flex-grow: 0;
margin: 0px 20px;

color: #000000;
}

.Page2 {
  /* pageTwo */


position: static;
width: 153px;
height: 42px;
left: 174px;
top: 0px;

font-family: fantasy Sans;
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 42px;

color: #000000;


/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 20px;
}

.Page1 {
  /* pageOne */


position: static;
width: 154px;
height: 42px;
left: 0px;
top: 0px;

font-family: fantasy Sans;
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 42px;

color: #000000;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 20px;
}

.NavGroup1 {
position: static;
width: 259px;
height: 72px;
left: 0px;
top: 0px;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 392px;
}

.SiteTitle {
/* Site Title */


position: absolute;
width: 167.1px;
height: 48px;
left: 91.9px;
top: 14px;

font-family: fantasy Sans;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;

color: #000000;  
}

.Ellipse1 {
  /* Ellipse 1 */


position: absolute;
width: 75.19px;
height: 72px;
left: 0px;
top: 0px;

background: #C4C4C4;
>>>>>>> Stashed changes
}